/* Global Styles */
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  box-sizing: border-box;
  text-align: left;
}

:root {
  --white: #fff;
  --lightGray: #f2f2f2;
  --realblack: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 15pt;
}

p,
li {
  font-size: 15pt;
  font-weight: 400;
  line-height: 1.5;
}

li > ul > li {
  list-style-type: none;
}

p {
  margin-bottom: 1.5rem;
}

footer-links {
  line-height: 2;
}

.bg-black {
  background-color: var(--realblack);
}

.text-white {
  color: var(--white);
}

.gray-bg {
  background-color: var(--lightGray);
}

.img-resp {
  width: 100%;
  height: auto;
  display: block;
}

.contr {
  max-width: 66em;
  margin: 0 auto;
}

/* Footer Styles */
.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--realblack);
  color: var(--white);
  padding: 32px 30px 48px;
}

footer img {
  width: 230px;
  padding: 0;
  margin: 0;
}

.line-ft {
  border-top: 1px solid rgb(204, 204, 204);
}

.light-footer {
  background-color: var(--lightGray);
}

.dark-footer {
  background-color: var(--realblack);
}

.light-footer .white-logo {
  display: none;
}

.dark-footer .black-logo {
  display: none;
}

.dark-footer p,
.dark-footer .footer-notice,
.dark-footer .footer-notice a {
  color: #ffffff;
}

.dark-footer .line-ft {
  border-top: 1px solid rgb(0, 0, 0);
}

.phone-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-padding {
  padding: 10px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.footer-column {
  flex: 1;
  padding: 5px;
  background-color: #000000;
  margin: 2.5px;
  text-align: left;
}

.footer-row.links {
  margin-bottom: 0;
}

.footer-row.links .footer-column p {
  margin: 10px 0;
}

.footer-column:first-child {
  margin-left: 0;
}

.footer-column:last-child {
  margin-right: 0;
}

.emulated-flex-gap {
  --gap: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
  margin-top: 10px;
}

.emulated-flex-gap > * {
  margin: var(--gap) 0 0 var(--gap);
}

.emulated-flex-gap p {
  font-size: 15pt;
}

.emulated-flex-gap div {
  flex-basis: calc(33% - var(--gap));
}

.ft-mk .ft-logo {
  max-width: 230px;
}

.ft-mk p {
  font-size: 15pt;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline dashed;
}

.first-row {
  align-items: flex-start;
}

.remove-padding p {
  padding: 0;
}

/* Responsive Styles */
@media only screen and (max-width: 759px) {
  .ft-mk {
    justify-content: flex-end;
  }

  .ft-mk .b2,
  .ft-mk .c1 {
    flex-basis: 100% !important;
  }

  .footer-row {
    flex-direction: column;
  }

  .footer-column {
    margin: 2.5px 0;
  }

  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (min-width: 760px) {
  .hide-on-desktop {
    display: none;
  }
}
